h1{
    font-family: "Permanent Marker" , cursive;
    text-align:center;
    color:rgb(121, 235, 197);
    
}
#image-1{
    text-align: center;
    border: 2px solid rgb(121, 235, 197);
    border-radius: 7px;
    width: 400px;
    height: 300px;
    background-color: aliceblue;
    background-image: #00fe32;
    content: icon;
}
#enjoyButton{
    font-family: "Permanent Marker" , cursive;
    width: 100px;
    height: 40px;
    color:#80ffbf;
    background-color: #ff66ff;
    border-radius: 5px;
}
#spinButton{
    font-family: "Permanent Marker" , cursive;
    width: 100px; 
    height: 40px;
    text-shadow: 10px rgb(37, 36, 36);
    color:#80ffbf;
    background-color:#ff66ff;
    border-radius: 5px; 
}
